/* styles.css */
body{
  background-color: rgb(124, 128, 129);
}

.header {
  text-align: center;
}

.container {
  display: flex; /* Makes the boxes sit side-by-side */
  background-color: #8aedf0;
}

.box {
  flex: 1; /* Makes the boxes share available space equally */
  height:400px;
  background-color: #e5f596;
  margin: 10px; /* Adds some spacing between boxes */
  border: 1px solid #070707fe; /* Adds a border for better visualization */
  overflow-y: scroll; /* Enables vertical scrolling for content overflow */
  padding: 10px; /* Adds some padding inside the boxes */
}
  